@using System.Web.Optimization

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoT | @ViewBag.Title</title>

    @Styles.Render("~/bundles/bootstrap/css")

    @Styles.Render("~/bundles/style_new/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOME style -->

</head>

<body style="background-color:#1A1A1D">
    <div class="wrapper">
        <!-- Navigation -->
            @Html.Partial("_Navbar")

        <!-- Main view -->
        <section class="content">
            @RenderBody()
            <!-- Footer-->
            @Html.Partial("_Footer")
        </section>

        <!-- Section for main scripts render -->
        <!-- Handler for local scripts -->
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
