@model eUseControl.Web.Models.PostData

<div class="container" style="color:white">
    @{
        if (Model.CList != null)
        {
            foreach (var category in Model.CList)
            {
                <div class="row-cols-2 p-4">
                    <div class="list-group ">
                        <li class="list-group-item list-group-item-dark text-center">Category name - @category.Title</li>
                        @if(category.Topics != null)
                        {
                            foreach(var topic in category.Topics)
                            {
                                <a href="#" class="list-group-item list-group-item-action">Topic name - @topic.Title</a>
                            }
                        }
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            
                            <div class="input-group-append">
                                <button class="btn btn-outline-light" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

    <hr style="background-color:white" />
    <div class="row">
        <div class="col-md-3">
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("AddSubject", "Topic", FormMethod.Post, new { @id = "PostForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Title, new
                    {
                        placeholder = "...",
                        title = "Introduceti Titlul Categoriei",
                        value = "",
                        name = "nume",
                        id = "nume",
                        @class = "form-control",
                        type = "username"
                    })
                </div>
                <button type="submit" class="btn btn-outline-light">Submit</button>
            }
        </div>
    </div>
</div>
